@font-face {
  font-family: 'Gotham';
  src: url('./gotham/Gotham-Black.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Imfellenglish';
  src: url('./imfell/FeENit2.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('./gotham/Gotham-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Klavikach Condensed';
  src: url('./klavika/KlavikaCH-MediumCondensed.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Archer pro';
  src: url('./archer/ArcherMediumPro.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Klavikach Condensed';
  src: url('./klavika/KlavikaCH-RegularCondensed.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}